// header

.header {
  position: relative;
  width: 100%;
  height: $height-header;
  padding: 0 30px;
  background: $white;
  box-shadow: $basic-shadow;

  &__title {
    font-size: 30px;
    line-height: $height-header;
  }
}
